FG_URL=https://www.fieldglass.net
INPUT={"user": { "rootUrl": "https://www.fieldglass.net", "_id": "", "customer": "", "username": "", "password": "" }, "invoices": { "fromDate": "YYYY-MM-DD", "toDate": "YYYY-MM-DD" }, "creditMemos": { "fromDate": "YYYY-MM-DD", "toDate": "YYYY-MM-DD" }}    